*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.navbar-list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right-list{
    display: flex;
    justify-content: space-between;
}
.navbar-right-item{
    padding: 20px;
}
.navbar-logo{
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 33px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.navbar-right-link{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: black;
transition: 0.3s;
}
.navbar-right-link:hover{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #EEBF63;
    }
.navbar{
    background-color: #F1F1F1;
}
.header-list{
    padding: 20px;
    display: flex;
    align-items: center;

}
.header-right, .header-left{
width: 570px;
}
.header-right{
display: flex;
justify-content: center;
}
.header-right-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #F7DEA7;
}
.header-left-item{
    padding: 10px;
}
.header-left-item:nth-child(5){
    width:300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-text{
font-size: 24px;
font-style: normal;
font-weight: 350;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #828282;
}
.header-left-item:nth-child(4){
    width: 550px;
}
.header-left-item:nth-child(2){
    width: 450px;
}
.header-left-item:nth-child(3){
    display: flex;
    justify-content: flex-end;
    width: 420px;
}
.header-left-btn{
height:55px;
width: 151px;
left: 0px;
top: 0px;
border: none;
border-color: rgba(238, 191, 99, 1);
border:2 px solid rgba(238, 191, 99, 1);;
border-radius: 10px;
background: rgba(238, 191, 99, 1);

font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: white;
transition: 0.3s;
}
.header-left-btn:hover{
    height:55px;
    width: 151px;
    left: 0px;
    top: 0px;
    border: none;
    border-color:rgba(238, 191, 99, 1) ;
    border:2 px solid rgba(238, 191, 99, 1);;
    border-radius: 10px;
    background: white;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    }
.header-left-link{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: white;   
    transition: 0.3s;
}
.header-right{
    background-image: url("./Circle.png"),url("./Bullet\ Points.png");
    background-repeat: no-repeat;
    background-size: 450px,250px;
    background-position: left 1% top 50%;
}
.header-left-link:hover{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: black;  
}
.header{
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
}
.header-right-img{
    height: 400px;
    width: 400px;
}
.header-link{
    color: #EEBF63;
}
.content-list{
    padding: 30px;
    display: flex;
}
.content-box{
    padding: 30px;
    height: 584px;
width: 1110px;
left: 165px;
top: 850px;
border-radius: 45px;
background: rgba(233, 233, 233, 1);
}
.content-img{
    height: 458px;
width: 350px;
left: 230px;
top: 913px;
border-radius: 30px;
background-color:#E1B1B8 ;
}
.content-item{
    padding: 30px;
}
.content-right-list{
    display: flex;
}
.content-right-item{
    padding: 20px;
}
.content-left-title{
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.content-right-title{
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.content-right-text{
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: rgba(130, 130, 130, 1);
}
.content-title{
    padding: 20px;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.content-text{
padding: 20px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 45px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.content .container{
    padding: 30px;
}
.content{
    background-color:#F1F1F1 ;
}
.content-left-title::after{
    content: "+";
    color: #8ED2A9;
}
.content-box{
    background-image: url("./Gold\ Stars.png"),url("./star.png");
    background-repeat: no-repeat;
    background-position: left 87% top 24%,left 88.5% top 24%;
}
.project-list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.project-title{
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.project-btn{
    height: 55px;
width: 151px;
left: 0px;
top: 0px;
border-radius: 10px;
background: rgba(238, 191, 99, 1);
border-color: #EEBF63;
border: 2px solid #EEBF63;
transition: 0.3s;
}
.project-link{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: white;
transition: 0.3s;
}
.project-btn:hover{
    height: 55px;
width: 151px;
left: 0px;
top: 0px;
border-radius: 10px;
background: rgb(255, 255, 255);
border-color: #EEBF63;
border: 2px solid #EEBF63;
transition: 0.3s;
}
.project-link:hover{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #EEBF63;
transition: 0.3s;
}
.project-right-img{
    height: 756px;
width: 540px;
left: 165px;
top: 1652px;
border-radius: 25px;
}
.project-bottom-list{
    display: flex;
}
.project{
    background-color:#F1F1F1 ;
}
.project-bottom-item{
    padding: 20px;
}
.project-right-bottom-list{
    display: flex;
}
.project-right-bottom-item{
    width: 150px;
    display: flex;
    align-items: center;
}
.bottom-img{
    height: 14.002152442932129px;
width: 20px;
left: 0px;
top: 0px;
border-radius: 0px;
}
.bottom-text{
    padding: 5px;
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.project-right-title{
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.project-right-item{
    padding: 10px 0px;
}
.inreason-img{
    height: 313px;
width: 239.75px;
left: 165px;
top: 2710px;
border-radius: 45px;
background-color: #9DBBC3;
}
.reason-list{
    width: 1140px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.reason .container{
    position: relative;
}

.reason-inlist{
    padding: 20px;
 width: 270px;  
}
.reason-title{
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
color: black;
}
.reason{
    height: 1100px;
    background-color:#F1F1F1;   
}
.reason-center{
    position: absolute;
    top: 120%;
    left: 2%;
    height: 313px;
    width: 1110px;
    border-radius: 25px;
    
background: rgba(238, 191, 99, 1);
}
.reason-center-list{
    height:300px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.reason-center-title{
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
color: white;
height: 190px;
width: 265px;
left: 250px;
top: 3346px;
border-radius: nullpx;
}
.reason-center-input{
    height: 70px;
width: 212.191162109375px;
left: 655.4418334960938px;
top: 3405px;
border: none;
border-radius: 10px;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
color: black;
outline: none;
}
.reason-center-btn{
    height: 70px;
    width: 273.24615478515625px;
    left: 917.6329956054688px;
    top: 3405px;
    border-color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(238, 191, 99, 1);    
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
color: white;
}
.reason-bottom-img{
    position: absolute;
    left: 6%;
    top: 190%;
}
.testimonial-list{
    padding:30px 0px;
    display: flex;
}
.testiomonial-left-box{
    background-image: url("./Gold\ Stars.png"),url("./star.png");
    background-repeat: no-repeat;
    background-position: top 81% left 76%,top 81% left 82%;
    display: flex;
    justify-content: center;
   
    height: 351px;
width: 529px;
left: 165px;
top: 4085px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
border-radius: [object Object]px;
background-color: white;
}
.testiomonial-right-box{
    background-image: url("./Gold\ Stars\ \(1\).png");
    background-repeat: no-repeat;
    background-position: top 81% left 76%;
    display: flex;
    justify-content: center;
   
    height: 351px;
width: 529px;
left: 165px;
top: 4085px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
border-radius: [object Object]px;
background-color: white;
}
.testimonial{
    background-color:rgba(111, 194, 197, 1)  ;
}
.testimonial-item{
    padding: 20px;
}
.intestimonial-text{
    height: 155px;
width: 419px;
left: 220px;
top: 4137px;
border-radius: nullpx;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
color: black;
}
.intestimonial-inlist{
    display: flex;
}
.intestimonial-initem{
    padding: 10px;
}
.intestimonial-list{
    padding: 30px;
}
.intestimonial-item{
    padding: 20px;
}
.testimonial-head-title{
    display: flex;
    justify-content: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 60px;
letter-spacing: 0px;
text-align: center;
height: 120px;
width: 609px;
left: 415px;
top: 3913px;
border-radius: nullpx;
color: white;
}
.title-box{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.footer-list{
    height: 120px;
    padding:0px 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-item:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-img{
    padding: 10px;
}
.footer-left-link-img{
    padding: 10px;
}
.footer-left-title{
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.footer-link{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.footer{
    height: 150px;
    background-color: #F1F1F1;
}

